body {
	background-color: #d4e7bf;
	margin: 0;
}

.my-app {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experiments {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: solid belue;
}

.form {
	display: flex;
	width: 570px;
	height: 420px;
	flex-direction: column;

	background-color: rgb(238, 243, 213);

	margin: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid 2px #1e1e1e;
	border-radius: 8px;
}

.date-form {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Bahnschrift', sans-serif;
}

.date-label {
    font-weight: bold;
    color: #1e1e1e;
}

.date-select {
    padding: 8px 12px;
    border: 2px solid #1e1e1e;
    border-radius: 8px;
    background-color: #ffffff9b;
    font-family: 'Bahnschrift', sans-serif;
    cursor: pointer;
}

